/build
/src/main/webapp/WEB-INF/errpage

# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz

# eclipse ignore
/bin
/src/main/java/rebel.xml
/src/rebel.xml
/.project
/.classpath
/target
/.settings

# idea ignore
.idea/
*.ipr
*.iml
*.iws
../.idea/

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
*.java~
*.properties~
*.xml~

# system ignore
.DS_Store
Thumbs.db